#inicio {
    display: block;
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
#botonInicio{
    border: 1px solid;
    margin: auto;
    padding: 10px;
}
#conf{
    display: none;
}
#formularioNombres{
    display: none;
}
#leaderboard{
    display: none;
}
#simulacion{
    display: none;
}